html,
body {
  padding: 0;
  margin: 0;
  direction: rtl;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: Vazirmatn;
}

:root {
  --primary-color: #673ab7;
}
